//== Fonts
$font-family-sans:      "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:     "Lora", "Asul", serif;
$font-family:           $font-family-sans;
$font-size:             16px;
$font-height:           1.6;

//== Colors
$color-primary:         #FFEA00; // WKND Yellow
$color-foreground:      #202020; // Text Dark
$color-background:      #ffffff; // Background White
$color-gray-light:      #f4f4f4; // Gray section
$color-gray-dark:       #666666; // Gray text
$color-link:            #202020; // Link Dark

// Dark mode
$color-foreground-dark: #ffffff;
$color-background-dark: #202020;
$color-link-dark:       $color-primary;
