<sly
    data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
    data-sly-call="${clientlib.all @ categories='wknd.callout'}"/>
<section class="cmp-callout" data-sly-use.model="com.adobe.aem.guides.wknd.core.models.CalloutModel">
    <div class="cmp-callout__content" data-sly-test="${model.hasContent}">
        <h2 class="cmp-callout__title" data-sly-test="${model.title}">${model.title}</h2>
        
        <p class="cmp-callout__text" data-sly-test="${model.text}">${model.text}</p>
        
        <div class="cmp-callout__actions" data-sly-test="${model.mostrarBotao}">
            <a class="cmp-callout__button" 
               href="${model.buttonUrl}"
               aria-label="${model.buttonLabel}">
                ${model.buttonLabel}
            </a>
        </div>
    </div>

    <div class="cmp-callout__placeholder" data-sly-test="${model.empty}">
        Nenhum conteúdo foi configurado ainda.<br>
        Clique no ícone de edição para adicionar um título, texto e botão.
    </div>
</section>
